<div id="list_form">
	<p>新しいToDoリストを作成する</p>
	<%= render 'form_list' %>
</div>

<ol class="list">
	<% @lists.each do |list| %>
		<li class="lists">
			<%= link_to list.title, list_path(list.id) %>
			<% if list.tasks.count == 0 %>
				<p>ToDoがありません</p>
			<% else %>
				<p>
					<%= list.tasks.count %>個中<%= list.tasks.finished.count %>個がチェック済み
				</p>
				<% if list.tasks.unfinished.near_deadline.first.nil? %>
					<p>期限はありません</p>
				<% else %>
					<p>
						~<%= list.tasks.unfinished.near_deadline.last.deadline.in_time_zone('Tokyo').strftime('%Y年%m月%d日') %>
					</p>
				<% end %>
			<% end %>
			<%= link_to "削除", list_path(list.id), method: :delete, data: { confirm: "削除しますか？" } %>
		</li>
	<% end %>
</ol>


